---
import BasicLayout from '../../layouts/BasicLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BasicLayout>
	<section class="flex justify-center">
		<ul class="grid grid-cols-1 sm:grid-cols-2 gap-6 w-full max-w-4xl">
			{posts.map(post => (
				<li class="bg-white shadow-md rounded-lg overflow-hidden">
					<a href={`/blog/${post.id}/`} class="block text-gray-800 hover:text-gray-600">
						<img class="w-full h-auto" src={post.data.heroImage} alt="" />
						<div class="p-4">
							<h4 class="text-lg font-semibold mb-2">{post.data.title}</h4>
							<p class="text-sm text-gray-500 mb-2">
								<FormattedDate date={post.data.pubDate} />
							</p>
							<p class="text-gray-700 text-base">{post.data.description}</p>
							<ul class="flex flex-wrap gap-2 mt-2">
								{post.data.tags?.map((tag) => (
									<li class="bg-gray-200 text-gray-700 text-xs font-medium px-2 py-1 rounded">
										{tag}
									</li>
								))}
							</ul>
						</div>
					</a>
				</li>
			))}
		</ul>
	</section>
</BasicLayout>